body {
  background-color: #f9dfdc;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
  color: #40514E;
}

h1 {
  font-size: 6.25rem;
  margin: 50px auto 0 auto;
  font-family: 'Indie Flower', cursive;
  color: #f9dfdc;
  font-weight: normal;
}

h2 {
  font-family: 'Kiwi Maru', serif;
  font-size: 3.125rem;
  font-weight: normal;
  color: #0c4271;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Kiwi Maru', serif;
  color: #11999E
}

p {
  font-family: 'Kiwi Maru', serif;
  line-height: 2;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 2%;
  margin: 100px auto;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-container {
  background-color: #0a81ab;
  position: relative;
  padding-top: 225px;
}

.middle-container {
  margin: 100px 0;
}

.pro {
  font-size: 1.25rem;
  color: #f9dfdc;
}

.skill-row {
  width: 30%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 700px;
}

.rabbit-size {
  width: 10%;
}

.pokeball-size {
  width: 22%;
  float: left;
  margin-right: 30px;
}

.coffee-size {
  width: 22%;
  float: right;
  margin-right: 30px;
}

.contact-message {
  width: 20%;
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #0a81ab;
  position: relative;
  padding: 50px 0 30px;

}

.copyright {
  color: #f9dfdc;
  font-size: 0.75rem;
  padding: 20px 0;
}

.BUTTON_AYT {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: #F9DFDC;
  font-family: 'Kiwi Maru', serif;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  background-color: #0A81AB;
  text-shadow: 1px 1px 40px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_AYT:hover {
  border: solid #0A81AB 0;
  background: #3BA0C3;
  background-image: -webkit-linear-gradient(top, #3BA0C3, #0C4271);
  background-image: -moz-linear-gradient(top, #3BA0C3, #0C4271);
  background-image: -ms-linear-gradient(top, #3BA0C3, #0C4271);
  background-image: -o-linear-gradient(top, #3BA0C3, #0C4271);
  background-image: -webkit-gradient(to bottom, #3BA0C3, #0C4271);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}


.footer-link {
  color: #005B7A;
    font-family: 'Kiwi Maru', serif;
    margin: 10px 10px;
    text-decoration: none;
}

.footer-link:hover {
  color: #F9DFDC;
}
